.hamburguer {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
}

.burguer {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: #47a138;
  transform-origin: 1px;
  transition: all 0.3s linear;
}
